<p>Pregunta: <b> <%= quiz.pregunta %></b></p>
<form action="/quizes/<%= quiz.id %>/answer" method="get">
    <input type="text" name="respuesta"/>
    <button>Enviar</button>
</form>

<br/><p><a href="/quizes/<%= quiz.id %>/comments/new"><input type="button" value="Nuevo Comentario"/></a></p><br/>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments) { %>
<% if(quiz.Comments[index].publicado || session.user ) { %>
<p> <%= quiz.Comments[index].texto %>
    <% if(session.user && !quiz.Comments[index].publicado) { %>
    <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
        <button>Publicar</button>
    </a>
    <% } %>
</p>
<% } %>
<% } %>